{% extends "blogapp/base.html" %}

{% block title %}Django Blog 🐍{% endblock %}

{% block content %}
    <header>
        <h1>Blog</h1>
    </header>
    {% for post in post_list %}
    <article class="align-center">
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Publicado em {{ post.created }} por {{ post.author }}
        </p>
        {{ post.body|linebreaks|truncatewords:10 }}
    </article>
    {% endfor %}
    <div class="align-center">
        <a href="/blog/contato">
            contato
        </a>
    </div>
{% endblock %}